@use '../abstracts/breakpoints';
.grid-3-col {
  display: grid;

  @media screen and (min-width: breakpoints.$medium) {
    grid-template-columns: repeat(7, 1fr);
  }

  @media screen and (min-width: breakpoints.$large) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.grid-7-col {
  display: grid;

  @media screen and (min-width: breakpoints.$medium) {
    grid-template-columns: repeat(7, 1fr);
  }
}
